<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your To Do List</title>
</head>
<body>
  <h1>Create your To Do List</h1>
    <main class="recipe-form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="control">
            <button class="button">Create</button>
          </div>
        </form>
      </main>
    </body>
</body>
</html>