<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ todolist.name }}"?</p>
        {{ form.as_p }}
        <div class="control">
          <button class="button">Delete</button>
        </div>
      </form>
      <h1>{{ recipe.name }}</h1>
      {% if recipe.image %}
        <img class="image" src="{{ recipe.image }}" class="pull-right">
      {% endif %}
    </form>
</body>
</html>