<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items for {{todolist.name}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'create_todolist' %}">Create</a>
                </li>
                <li>
                    <a href="{% url 'edit_todos' todolist.pk %}">Edit</a>
                </li>
                <li>
                    <a href="{% url 'delete_todos' todolist.pk %}">Delete</a>
                </li>
                <li>
                    <a href="{% url 'create_todoitem' todolist.pk %}">New Items</a>
                </li>
                <li>
                    <a href="{% url 'updateitem_items' todolist.pk %}">Update Items</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
                <h2>Task</h2>
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Due Date</th>
                    </thead>
                        <tbody>
                            {% for item in todolist.items.all %}
                            <tr>
                                <td>{{ item.task }}</td>
                                <td>{{ item.due_date| date:"l, F j, Y"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
    </main>
</body>
</html>
