<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'create_todolist' %}">Create</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My List</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of item{{todolist|pluralize}}</th>
                </thead>
                <tbody>
                {% for list in todolist %}
                    <tr>
                        <td><a href="{% url 'detail_todos' list.pk %}">{{ list.name }}</a></td>
                        <td>{{ list.items.all|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table
        </div>
    </main> 
</body>
</html>